

.pizza-logo {
    width:50%;
}

#sign-in {
    display: flex;
    height: 110px;
}

#sign-in h4 {
    font-size: 10px;
}

.inline {
    display: inline;
}

a {
    text-decoration: none;
}

.help {
    width: 100%;
}

.lines {
    width: 100%;
    height: 9px;
    border-top: 2px solid #E21216;
    border-bottom: 1px solid #E21216;
}

.lines1 {
    width: 100%;
    height: 9px;
    border-top: 1px solid #E21216;
    border-bottom: 2px solid #E21216;
}

.picture {
    height: 100%;
}

.change-color {
    color:black;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

a{
    color: black;
}